

<footer class="pie">
            <section class="seguinos">
                <h2>SEGUINOS</h2>
                <div>
                    <a href="https://www.facebook.com/Cer.Deco" target="_blank"><img src="./img/facebookr.png"
                            alt="logo facebook"></a>
                    <a href="https://www.instagram.com/cer.deco.arg/" target="_blank"><img src="../../src/img/instagramr.png"
                            alt="logo instagram"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="./img/twiter.png" alt="logo twiter"></a>
                </div>
            </section>
            <section class="todo">
                <div>
                    <h3>NAVEGACIÓN</h3>
                    <ul>
                        <li><a href="./index.html">inicio</a></li>
                        <li><a href="./pages/contacto.html">contacto</a></li>
                        <li><a href="./pages/productos.html">productos</a></li>
                        <li><a href="./pages/nosotros.html">nosotros</a></li>
                        <li><a href="./pages/envios.html">envíos</a></li>
                        <li><a href="./pages/preguntas.html">preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.892055574086!2d-58.52012088423419!3d-34.70790247052611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccf250fa744eb%3A0x42cdf9e66b49a89c!2sDefensa%201737%2C%20B1785BOQ%20Aldo%20Bonzi%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1674620810190!5m2!1ses-419!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="contactanos">
                    <h3>CONTACTANOS</h3>
                    <p>11-6039-4264</p>
                    <p>vansersgv@gmail.com</p>
                    <p>Defensa 1050</p>
                    <p>Aldo Bonzi, La Matanza</p>
                    <p>Buenos Aires</p>
                </div>
            </section>
        </footer>